<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="google-site-verification"
      content="dzOO0GTsBTGoP6SUwe95lOtJkiDhBsWMYxvS0NKjTt8"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>QR Code Attendance</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen bg-gradient-to-r from-blue-100 to-blue-200">
    <div class="container mx-auto p-4 pt-6 md:p-6 lg:p-12">
      <img
        src="{{ url_for('static', filename='images/meme.jpg') }}"
        class="max-w-md h-48 rounded-lg mb-4 mx-auto"
      />
      <div class="flex justify-center mb-4">
        <h1 class="text-3xl font-bold text-center">**QR Code Attendance!**</h1>
      </div>
      <form action="{{ url_for('submit') }}" method="post">
        <div class="form-group mb-4">
          <label for="data" class="text-lg font-semibold text-gray-600"
            >Scan QR Code:</label
          >
          <input
            type="text"
            class="form-control w-full pl-4 pr-4 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="data"
            name="data"
            placeholder="Enter QR Code data..."
          />
        </div>
        <div class="flex justify-center">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
